.bottom-bar {
  padding: 0px 40px;
  min-height: 44px;
}

/* This is an unfortunate hack due to https://gitlab.gnome.org/GNOME/gtk/-/issues/4184 */
.bottom.osd {
  opacity: 0;
}

/* Fix some parts of the title bar not being clickable by moving the padding to the interactive element. */
headerbar {
  padding: 0;
}

windowhandle {
  padding: 4px;
}

popover>contents {
  border-radius: 0;
  padding: 0;
}

popover modelbutton {
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}

popover slider {
  min-height: 0;
}

popover popover {
  font-size: 100%;
}

.error-label {
  text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
  color: white;
}

window.nodecorations {
  border-radius: 0;
}


/* Manual DPI handling on Windows because fractions confuse and scare GTK */
/* This is arguably better than the current X code, but that's a trickier problem */
window.dpi100 .bottom-bar {
  padding: 0px 27px;
  min-height: 29px;
}

window.dpi100,
window.dpi100>popover {
  font-size: 100%;
}

window.dpi100 windowcontrols>button {
  min-height: 26px;
  min-width: 26px;
  -gtk-icon-size: 16px;
}


window.dpi125 .bottom-bar {
  padding: 0px 33px;
  min-height: 37px;
}

window.dpi125,
window.dpi125>popover {
  font-size: 125%;
}

window.dpi125 windowcontrols>button {
  min-height: 32px;
  min-width: 32px;
  -gtk-icon-size: 20px;
}


window.dpi150 .bottom-bar {
  padding: 0px 40px;
  min-height: 44px;
}

window.dpi150,
window.dpi150>popover {
  font-size: 150%;
}

window.dpi150 windowcontrols>button {
  min-height: 39px;
  min-width: 39px;
  -gtk-icon-size: 24px;
}


window.dpi175 .bottom-bar {
  padding: 0px 47px;
  min-height: 51px;
}

window.dpi175,
window.dpi175>popover {
  font-size: 175%;
}

window.dpi175 windowcontrols>button {
  min-height: 45px;
  min-width: 45px;
  -gtk-icon-size: 28px;
}


window.dpi200 .bottom-bar {
  padding: 0px 53px;
  min-height: 59px;
}

window.dpi200,
window.dpi200>popover {
  font-size: 200%;
}

window.dpi200 windowcontrols>button {
  min-height: 52px;
  min-width: 52px;
  -gtk-icon-size: 32px;
}
