.bottom-bar {
  padding: 10px 40px;
}

/* This is an unfortunate hack due to https://gitlab.gnome.org/GNOME/gtk/-/issues/4184 */
.bottom.osd {
  opacity: 0;
}

popover>contents {
  border-radius: 0;
  padding: 0;
}

popover modelbutton {
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}

popover slider {
  min-height: 0;
}
