# Put in ~/.local/share/applications/
[Desktop Entry]
Name=Aw-Man
GenericName=Manga and Image Viewer
Comment=An image and manga viewer with support for external scalers.
Exec=aw-man %F
#Icon=aw-man  # TODO -- icon for *nix and windows?
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;
MimeType=application/x-cb7;application/x-ext-cb7;application/x-cbr;application/x-ext-cbr;application/x-cbz;application/x-ext-cbz;image/jpeg;image/png;image/webp;image/gif;image/heic;image/avif;image/jxl;image/bmp;image/x-ms-bmp;image/tiff;
